@tailwind base;
@tailwind components;
@tailwind utilities;

/* html, body, #root { height: 100%; } */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #E6EAF2;
  background-color: #0F1115;
}

